---
import { MOVIES } from "../consts/movies";
import type { Movies } from "../types/movies";
import NextMovie from "./NextMovie.astro";

const dataMovies = Array(MOVIES.find((movie) => movie.rating == 7.8));

---

<div class="flex flex-col flex-wrap w-full min-h-80 bg-neutral-900 justify-center p-6 items-center gap-6">
  <div class="flex flex-row w-full h-[40rem] object-top object-cover justify-center items-end relative rounded-2xl">
    {
      dataMovies.map((item: any) => (
        <picture class="w-[70%] h-full items-center justify-center mask-b-from-3.5 mask-b-to-95%">
          <img class="w-full h-full object-cover object-right-top rounded" src={item.poster} alt="movie" />
        </picture>
        <div class="flex flex-col w-[400px] h-[40% absolute text-white text-xl text-center font-bold justify-center gap-1">
            <h1 class="h-10 pt-1">
              {item.title}
            </h1>
          <div class="w-full h-10 flex flex-row justify-center gap-3">
            {
              item.genre.map((genre:any) => (
                <p class="bg-neutral-600/20 w-40 pt-1 rounded-4xl font-thin">
                  #{genre}
                </p>
              ))
            }
          </div>
          <div class="w-full h-10 flex flex-row justify-center items-center">
            <div class="w-10 h-10 flex justify-center items-center text-yellow-400">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-star-icon lucide-star"><path d="M11.525 2.295a.53.53 0 0 1 .95 0l2.31 4.679a2.123 2.123 0 0 0 1.595 1.16l5.166.756a.53.53 0 0 1 .294.904l-3.736 3.638a2.123 2.123 0 0 0-.611 1.878l.882 5.14a.53.53 0 0 1-.771.56l-4.618-2.428a2.122 2.122 0 0 0-1.973 0L6.396 21.01a.53.53 0 0 1-.77-.56l.881-5.139a2.122 2.122 0 0 0-.611-1.879L2.16 9.795a.53.53 0 0 1 .294-.906l5.165-.755a2.122 2.122 0 0 0 1.597-1.16z"/></svg>
            </div>
            <p>
              {item.rating}
            </p>
          </div>
          <div class="w-full h-10 flex justify-center">
            <a href={`movie/${item.id}`} class="w-40 h-10 bg-neutral-700/40 hover:bg-white hover:text-black transition ease-in duration-200 rounded-2xl items-center justify-center pt-1">
              More info
            </a>
          </div>
        </div>
      ))
    }
  </div>
  
  <NextMovie/>
</div>
